.margin1 {
    margin-top: 1pc;
    margin-bottom: 1pc;
    margin-left: 28pc;
        
}

.margin2 {
    margin-top: 0pc;
    margin-left: 10pc;
}

.margin3 {
    margin-top: 10pc;
    margin-left: 20pc;
}

.margin4 {
    margin-top: 5pc;
    margin-left: 24pc;
}

.margin5 {
    margin-top: 5pc;
    margin-left: 35pc;
}